# Django secret key
SECRET_KEY=your-generated-django-secret-key

# Database settings and credentials
DATABASE_NAME=your-db-name
DATABASE_USER=your-bd-user
DATABASE_PASSWORD=your-db-user-password
DATABASE_HOST=your-db-host
DATABASE_PORT=your-db-port

# Comma-separated list of allowed hosts
ALLOWED_HOSTS=your-allowed-host1,your-allowed-host2